{% extends 'mainpage/base.html' %}

{% block content %}
<h1 align="center">{{title}}</h1>

{% for ps in posts %}
{% if ps.image %}
  <img src="{{ps.image.url}}" alt="График зарплат по городам">
{% endif %}

<h2 align="center">Таблица зарплат по городам</h2>
{% autoescape off %}
  {{ps.content}}
{% endautoescape %}
{% endfor %}

<p>
{% for p in post %}
  <table>
      <tr>
          <td>
            {% if p.image %}
                <img src="{{p.image.url}}" alt="диаграмма">
            {% endif %}
          </td>
          <td>
              <h2 align="center">Таблица количества вакансий</h2>
              <div>
                {% autoescape off %}
                {{p.content}}
                {% endautoescape %}
              </div>
          </td>
      </tr>
  </table>
{% endfor %}
</p>

{% endblock %}





