{% extends 'mainpage/base.html' %}

{% block content %}
<h2 align="center">Таблица зарплат по городам (150000 - 300000)</h2>
<table border="1" class="dataframe">
    <thead>
    <tr style="text-align: right;">
        <th></th>
        <th>Нур-Султан</th>
        <th>Киев</th>
        <th>Харьков</th>
        <th>Минск</th>
        <th>Сочи</th>
        <th>Екатеринбург</th>
        <th>Краснодар</th>
        <th>Санкт-Петербург</th>
        <th>Казань</th>
        <th>Москва</th>
        <th>Ульяновск</th>
        <th>Иннополис</th>
        <th>Самара</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>0</th>
        <td>307093</td>
        <td>279980</td>
        <td>205980</td>
        <td>190017</td>
        <td>190000</td>
        <td>189667</td>
        <td>183385</td>
        <td>171364</td>
        <td>169210</td>
        <td>164575</td>
        <td>161380</td>
        <td>160292</td>
        <td>155692</td>
    </tr>
    </tbody>
</table>
<img src="../../static/mainpage/images/city1.png" alt="График зарплат по городам">


<h2 align="center">Таблица зарплат по городам (100000 - 150000)</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Алматы</th>
      <th>Волгоград</th>
      <th>Ниж.Новгород</th>
      <th>Жуковский</th>
      <th>Томск</th>
      <th>Новосибирск</th>
      <th>Таганрог</th>
      <th>Омск</th>
      <th>Зеленоград</th>
      <th>Воронеж</th>
      <th>Челябинск</th>
      <th>Кемерово</th>
      <th>Калининград</th>
      <th>Красноярск</th>
      <th>Новокузнецк</th>
      <th>Пермь</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>147871</td>
      <td>147256</td>
      <td>137216</td>
      <td>131786</td>
      <td>127073</td>
      <td>126098</td>
      <td>124380</td>
      <td>123212</td>
      <td>123056</td>
      <td>117990</td>
      <td>117938</td>
      <td>112857</td>
      <td>112190</td>
      <td>108357</td>
      <td>106071</td>
      <td>104176</td>
    </tr>
  </tbody>
</table>
<img src="../../static/mainpage/images/city2.png" alt="График зарплат по городам">


<h2 align="center">Таблица зарплат по городам (менее 100000)</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Ростов-на-Дону</th>
      <th>Владивосток</th>
      <th>Одесса</th>
      <th>Тверь</th>
      <th>Барнаул</th>
      <th>Липецк</th>
      <th>Ярославль</th>
      <th>Уфа</th>
      <th>Чебоксары</th>
      <th>Рязань</th>
      <th>Тула</th>
      <th>Саратов</th>
      <th>Пенза</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>101000</td>
      <td>97400</td>
      <td>75800</td>
      <td>75208</td>
      <td>74469</td>
      <td>73333</td>
      <td>72045</td>
      <td>68435</td>
      <td>68000</td>
      <td>67500</td>
      <td>65556</td>
      <td>62750</td>
      <td>38214</td>
    </tr>
  </tbody>
</table>
<img src="../../static/mainpage/images/city3.png" alt="График зарплат по городам">

{% endblock %}