{% extends 'mainpage/base.html' %}

{% block content %}
	<h1 align="center">C/C++ программист</h1>
	<img src="../../static/mainpage/images/logo.png" width="150" height="150" alt="логотип C++">

	<h2>Что такое C++?</h2>
	<p>
		Начнем с того, что <b>C++</b> — универсальный язык программирования, который входит в тройку самых известных, наряду с
		<b>Java и Python</b>. Основное его преимущество — скорость: он работает в среднем в два раза быстрее, чем <b>Java</b>, и в <b>30 раз</b> быстрее, чем <b>Python</b>.
	</p>
	<p>
		Поэтому в тех областях, где мгновенная реакция — необходимость, альтернативы C++ нет. В автомобильной сфере
		большинство программного обеспечения написано на C++. На нем же созданы все операционные системы, поисковые
		движки <b>Яндекса и Google</b>, многие мессенджеры (например <b>Telegram</b>), которые работают с большим объемом информации.
		Сюда же можно добавить все умные электронные устройства и бытовую технику.
	</p>
	<p>
		Язык <b>C++ сложный</b> для изучения и применения. Есть одно точное выражение создателя этого языка, которым можно
		охарактеризовать программирование на C++: «<em><b>C</b> позволяет легко выстрелить себе в ногу; с <b>C++</b> это сделать сложнее,
		но, когда вы это делаете, вы отстреливаете себе ногу целиком</em>». Можно допустить одну небольшую ошибку, и программа упадет.
	</p>
	<p>
		Язык программирования <b>C</b> — это часть языка <b>C++</b>. Поэтому если вы изучите C++, то автоматически выучите и C. Этот язык
		программирования по-прежнему очень популярен, и есть много хороших вакансий для интересных проектов, использующих чистый С.
	</p>
	<h3>Рейтинг языков программирования от <b>TIOBE Software</b> за <b>январь 2023</b> года:</h3>
	<img src="../../static/mainpage/images/rating.png" alt="рейтинг-таблица">

	<h2>Где используется C++? Где используется C++?</h2>
	<ul>
		<li>Разработка операционных систем: <b>Windows, Linux, Mac OS и iOS, Android и др</b>.</li>
		<li>Программирование встроенных систем (<b>embedded systems</b>): микроконтроллеры, беспилотные автомобили, умные часы,
			сенсоры и устройства, использующие технологию интернета вещей.</li>
		<li>Военно-промышленный комплекс.</li>
		<li>Сетевые устройства: маршрутизаторы, коммутаторы и др.</li>
		<li>Backend высоконагруженных систем (софт для серверов).</li>
		<li>Разработка игр.</li>
		<li>Разработка десктопных и кроссплатформенных приложений.</li>
	</ul>
	<p>
		Этот язык стоит выбирать тем, кому нравится «железо» и интересно разбираться в том, как устроены компьютеры и
		электронные устройства. Свой первый компьютер — он назывался <b>Sinclair</b> — я спаял и собрал, еще когда был студентом
		в университете, и эта любовь к технике у меня сохранилась до сих пор. Я знаю и другие языки программирования,
		но <b>C++</b> для меня самый любимый и удобный.
	</p>
	<p>
		Инструментов, которыми пользуется <b>C++</b>-разработчик, очень много: для <b>Windows</b> основной — это <b>Microsoft Visual Studio</b>,
		для <b>macOS — Xcode IDE</b>. Большой выбор инструментов для разработки на C++ есть в <b>Linux</b>.  Например, <b>Qt Creator</b>,
		который стал очень популярным в последние годы. Вообще инструментов десятки, и выбирать можно любой для своего удобства.
	</p>
	<h2>Какие навыки важны и куда можно вырасти?</h2>
	<p>
		Для хорошей работы и продвижения по карьерной лестнице программист должен обладать как <b>hard</b>, так и <b>soft skills</b>.
		Почти единственный требуемый <b>hard для разработчика</b> — хорошее знание языка программирования. При этом если человек
		приходит в компанию на позицию <b>junior</b>-программиста, то ему нужно знать лишь базовые конструкции языка — многого требовать не будут,
		так как понимают, что в течение полугода или года он значительно улучшит свои <b>hard</b>-скиллы, главное, чтобы было желание.
	</p>
	<p>
		При выборе среди кандидатов обязательно смотрят на <b>soft skills</b>: как умеет общаться, ведет ли себя адекватно,
		сможет ли работать в команде. Также немалое значение имеет развитый и широкий технический кругозор соискателя.
		Почти всегда выберут того, кто более приятен и интересен в общении, нежели того, кто более грамотен в языке программирования,
		но при этом производит не лучшее впечатление.
	</p>
{% endblock %}

